/src/main/resources/curl.bash
/src/main/resources/curl.txt
/src/main/resources/go.groovy
captcha.png
/src/main/resources/cookie
/src/main/resources/request01.sh
/src/main/resources/request02.sh
/src/main/resources/request03.sh
/src/main/resources/series.json
